@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.cdnfonts.com/css/graphik?styles=44660,44652');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

:root {
    --text-color: #252B42;
    --sub-text-colour: #374754;
    --header-text-colour: #FFFFFF;
    --header-background-color: rgba(117, 190, 218, 0.0);

    scroll-behavior: smooth;
    font-family: 'Graphik', sans-serif;
}


body {
    padding: 17px 16px 17px 16px ;
    display: block;
    min-width: 320px;                                                   
    border: 1px solid purple;                                        
}

img {
    display: block;
    width: 100%;
}

.container {
    max-width: 1775px;
    margin: auto;
}

section {
    border: 1px solid purple; 
}

div {
    border: 1px solid purple; 
}

.button {
    width: 236px;
height: 52px;
background-color: rgb(31, 176, 224);
color: var(--header-text-colour);
border-radius: 25px;
}

