.header {
    display: flex;
    flex-direction: column;
    background-image: url(../img/header_background.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 863px
}

.header__navbar {
    background-color: var(--header-background-color) !important;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    min-width: 386px;
    min-height: 78px;
}



.navbar-toggler-icon {
    background-color: var(--header-background-color) !important;
    background-image: url(../img/navbar__icon.png);
}

.navbar-collapse {
    display: flex;
    flex-direction: row;
}
.nav-link {
    color: var(--header-text-colour);
}

.header__nav-list {
    display: flex;
    flex-direction: column;
}

.list__links {

    display: flex;
    flex-direction: row;
}

.hero {

    color: var(--header-text-colour);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 22px 17px 22px;
    gap: 10px;

    min-width: 418px;
    min-height: 750px;


}

.hero__title {
    font-weight: 400;
    font-size: 48px;
    line-height: 55px;
    text-align: center;
    letter-spacing: 0.2px;
    padding: 30px 20px 30px 20px;
}

.hero__sub-title {
    font-weight: 400;
    font-size: 28px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.2px;
    padding: 7px 34px 0px 34px;
}