.testimonials {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.testimonials__title {
    font-weight: 400;
    font-size: 48px;
    line-height: 55px;
    text-align: center;
    letter-spacing: 0.2px;
    color: var(--text-color);
    margin: 120px 39px 0 39px;
}

.testimonials__block {
    margin: 90px 31px 0 31px;
}

.testimonials__img {
    width: 126.68px;
    height: 50.72px;
    margin-right: 85px;
    margin-left: 85px;
    justify-content: center;
}

.testimonials_sub-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 13.5256px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 0.16907px;
    color: var(sub-text-colour);
    margin: 53px 39px 0 39px;
}

.testimonials__client {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 44px 84px 0 84px;
    gap: 10px;
}

.testimonials__client-icon {
    width: 42.27px;
height: 42.27px;
}

.testimonials__client-position {
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12.6802px;
line-height: 23px;
letter-spacing: 0.16907px;
color: var(--text-color);
}

.testimonials__button {
    margin: 80px 41px 100px 41px
}